<h2 id="title">Auth demo site</h2>

<ul>
	<li>
		{{#if session.isAuthenticated}}
		  <a {{ action 'invalidateSession' }}>Logout</a>
		{{else}}
		  {{#link-to 'login'}}Login{{/link-to}}
		{{/if}}
	</li>
</ul>

{{outlet}}
